

<h2>This is an explanation about the project Exam test</h2>
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <mat-divider></mat-divider>
            <mat-card>
                <div class="row">
                    <div class="col-md-3">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Auth Controller url</mat-card-title>
                            </mat-card-header>
                            <mat-divider></mat-divider>
                            <mat-card-content>
                              <img src="../assets/../../assets/auth-controller.png" width="300" height="100">
                            </mat-card-content>

                            <mat-card-actions>    
                                <mat-divider></mat-divider>
                            </mat-card-actions>

                        </mat-card>
                    </div> 

                    <div class="col-md-3">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Explanation</mat-card-title>
                            </mat-card-header>

                            <mat-divider></mat-divider>
                            <mat-card-content> 
                              <h3>If the user that is going to use  the application es Admin don't need to register, otherwise  must be registered
                                this proces is going to create a token to get the application.
                              </h3>
                            
                            </mat-card-content>

                            <mat-card-actions>
                                <mat-divider></mat-divider> 
                                
                            </mat-card-actions>
                        </mat-card>
                    </div>  

                    <div class="col-md-3">
                      <mat-card>
                          <mat-card-header>
                              <mat-card-title>Category Controller url</mat-card-title>
                          </mat-card-header>
                          <mat-divider></mat-divider>
                          <mat-card-content>
                            <img src="../assets/../../assets/cat-controller.png" width="300" height="100">
                          </mat-card-content>

                          <mat-card-actions>    
                              <mat-divider></mat-divider>
                          </mat-card-actions>

                      </mat-card>
                  </div> 

                  <div class="col-md-3">
                      <mat-card>
                          <mat-card-header>
                              <mat-card-title>Explanation</mat-card-title>
                          </mat-card-header>

                          <mat-divider></mat-divider>
                          <mat-card-content> 
                            <h3>These are some examples of uri's related to Category Controller, by invoking this methods will get the information about Category. 
                              Keep in mind that This information is managed by administrator User.  
                            </h3>
                          
                          </mat-card-content>

                          <mat-card-actions>
                              <mat-divider></mat-divider> 
                              
                          </mat-card-actions>
                      </mat-card>
                  </div>  




                  <div class="col-md-3">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Exam Controller url</mat-card-title>
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                          <img src="../assets/../../assets/exa-controller.png" width="300" height="100">
                        </mat-card-content>

                        <mat-card-actions>    
                            <mat-divider></mat-divider>
                        </mat-card-actions>

                    </mat-card>
                </div> 

                <div class="col-md-3">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Explanation</mat-card-title>
                        </mat-card-header>

                        <mat-divider></mat-divider>
                        <mat-card-content> 
                          <h3>If the user that is going to use  the application es Admin don't need to register, otherwise  must be registered
                            this proces is going to create a token to get the application.
                          </h3>
                        
                        </mat-card-content>

                        <mat-card-actions>
                            <mat-divider></mat-divider> 
                            
                        </mat-card-actions>
                    </mat-card>
                </div>  

                <div class="col-md-3">
                  <mat-card>
                      <mat-card-header>
                          <mat-card-title>Question Controller url</mat-card-title>
                      </mat-card-header>
                      <mat-divider></mat-divider>
                      <mat-card-content>
                        <img src="../assets/../../assets/question.png" width="300" height="100">
                      </mat-card-content>

                      <mat-card-actions>    
                          <mat-divider></mat-divider>
                      </mat-card-actions>

                  </mat-card>
              </div> 

              <div class="col-md-3">
                  <mat-card>
                      <mat-card-header>
                          <mat-card-title>Explanation</mat-card-title>
                      </mat-card-header>

                      <mat-divider></mat-divider>
                      <mat-card-content> 
                        <h3>These are some examples of uri's about Question Controller, by invoking this methods 
                        will get the information related with Questios. Keep in mind that This
                        information is managed by administrator User.  
                        </h3>
                      
                      </mat-card-content>

                      <mat-card-actions>
                          <mat-divider></mat-divider>   
                      </mat-card-actions>
                  </mat-card>
              </div> 

            </div> 
            <mat-divider></mat-divider> 
              <mat-card-actions> 
                <a mat-raised-button [routerLink]="'/panel'" color="primary">Go user panel</a>
                <a mat-raised-button [routerLink]="'/panel'" color="primary">Go user administrator panel</a>
                  
              </mat-card-actions>
          </mat-card> 
           
        </div>
    </div>
</div>

