<br>
<div class="bootstrap-wrapper"> 
    <div class="row ">
        <div class="col-md-12">
            
            <mat-card  class="mt20">  
                  <mat-divider></mat-divider> 
                <mat-card-content>
                    <p>
                        <span class="ml20"></span>
                    </p> 
                    
                    <div class="container-fluid">
                        <div class="row">  
                            <div class="row">
                                <div class="col">
                                  <mat-card class="example-card">
                                    <mat-card-header>
                                      <mat-card-title>Hi i'm here!</mat-card-title>
                                    </mat-card-header> 
                                    <mat-divider></mat-divider> 
                                    <mat-card-content>
                                      <img src="./assets/introduce.png" width="200" height="100">
                                    </mat-card-content>
                                  </mat-card>
                                </div>
                            </div>  
                            
                            <div class="col-md-9"> 
                                <mat-card class="example-card">
                                <mat-card-header>
                                  <mat-card-title> Backend developer with Angular bases </mat-card-title>
                                </mat-card-header>
                                <mat-divider></mat-divider> 
                                <mat-card-content><br>
                                    <h3>I am Salvador Estrada from  Mexico. 
                                        My thechnical skill is based on software developer with almost  
                                        two years  of experience in Spring Boot and Java, and some basic knowledge about Angular and frontend.
                                        I have worked on projects so i passionate about 
                                        indentifying oportunities to improve 
                                        he user experience </h3>
                                </mat-card-content>
                              </mat-card>  
                            </div>  
                      
                        </div>          
                      
                    </div>
                </mat-card-content>  
                <mat-divider></mat-divider> 
                <mat-card-actions>
                    
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div> 



  






