<h2>This is an explanation about the project Exam test</h2>
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <mat-divider></mat-divider>
            <mat-card>
                <div class="row">
                    <div class="col-md-6">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Add exam</mat-card-title>
                            </mat-card-header>
                            <mat-divider></mat-divider>
                            <mat-card-content>
                                <img src="../assets/../../assets/admin/add-exam.png" width="568" height="300">
                            </mat-card-content>

                            <mat-card-actions>    
                               <mat-divider></mat-divider>
                               The admin user can create a new exam and asign a particular category, can enable and disable exams.
                               
                                
                            </mat-card-actions>

                        </mat-card>
                    </div>  

                    <div class="col-md-6">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Manage exams</mat-card-title>
                            </mat-card-header>
                            <mat-divider></mat-divider>
                            <mat-card-content>
                                <img src="../assets/../../assets/admin/exam-avail.png" width="568" height="300">
                            </mat-card-content>

                            <mat-card-actions>    
                                <mat-divider></mat-divider>
                                In this view user we be ableto manage exams, for example  user can delete,update and list informations about exams. 
                                                   
                            </mat-card-actions>

                        </mat-card>
                    </div> 


                    <div class="col-md-6">
                        <br>
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Questions</mat-card-title>
                            </mat-card-header>

                            <mat-divider></mat-divider>
                            <mat-card-content> 
                                <img src="../assets/../../assets/admin/add-question.png" width="562" height="230">
                            
                            </mat-card-content>

                            <mat-card-actions>
                                <mat-divider></mat-divider> 
                                This view contains the questions created by admin user.
                            </mat-card-actions>
                        </mat-card>
                    </div>  

                    <div class="col-md-6">
                        <br><br>
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title></mat-card-title>
                            </mat-card-header>

                            <mat-divider></mat-divider>
                            <mat-card-content> 
                              <div class ="container-img">
                                <img src="../assets/../../assets/admin/bye.jpeg" width="300" height="150">
                            </div>
                            </mat-card-content>

                            <mat-card-actions>
                                <mat-divider></mat-divider>  
                              
                            </mat-card-actions>
                        </mat-card>
                    </div> 

                </div> <br>
                &nbsp;<a mat-flat-button routerLink="/admin-panel">Go back </a> 
                &nbsp;<a mat-flat-button routerLink="/panel">Go to normal user panel</a>
            </mat-card>
        </div>
    </div>
</div>
