

  <h2>A brief history about my background</h2>
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <mat-divider></mat-divider>
            <mat-card>
                <div class="row">
                    <div class="col-md-6">
                        <mat-card class="example-card">
                            <img mat-card-image src="./assets/admin/laboral3.jpg" width="300px" >
                            <div class="centrado">My backgorund</div>
                            <mat-card-content>
                               
                            </mat-card-content>
                        </mat-card>
                    </div> 

                    <div class="col-md-6">
                        <mat-card class="example-card">
                            <mat-card-content>
                                <div class="card-body">
                                    <h1 class="card-title">About my professional carrier</h1>
                                    <h3>I am computer engineer, in the beginning of my professional career, worked as Database Analyst for different Companies such as Banks an Telecommunication organizations, focused on managing information through database systems and Sql language.
                                    <br>
                                    <br> 
                                     After that i decided to change a little bit the focus of my professional career by immersing as Software developer. <br>
                                     Currently i am Software developer with almost two years of experience in Spring boot and Java and some basic knowldege about Angular, just because i like to understand what really happen with frontend.
                                    </h3>
                                    
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div> 

                </div>
            </mat-card>
        </div>
    </div>
</div>