

  <h2>A brief history about my background</h2>
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <mat-divider></mat-divider>
            <mat-card>
                <div class="row">
                    <div class="col-md-6">
                        <mat-card class="example-card">
                            <img mat-card-image src="./assets/admin/laboral3.jpg" width="300px" >
                            <div class="centrado">My backgorund</div>
                            <mat-card-content>
                               
                            </mat-card-content>
                        </mat-card>
                    </div> 

                    <div class="col-md-6">
                        <mat-card class="example-card">
                            <mat-card-content>
                                <div class="card-body">
                                    <h1 class="card-title">About my professional carrier</h1>
                                    <h3>I am a computer engineer, at the beginning of my professional career, worked as Database Analyst for different Companies such as Banks and Telecommunication organizations, focused on managing information through database systems and SQL language.
                                        <br>
                                         After that, I decided to change a little bit the focus of my professional career by immersing myself as a Software developer. <br>
                                         Currently, I am a Software developer with almost two years of experience in Spring Boot and Java and some basic knowledge about Angular, just because I like to understand what really happens with frontend.
                                    </h3>
                                    
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div> 

                </div>
            </mat-card>
        </div>
    </div>
</div>