<div class="contenedor">
    <mat-card class="tarjeta">
      <mat-card-header>
        <div mat-card-avatar><img mat-card-image src="" class="circular"></div>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="">
      <mat-card-content>
        <p>Teléfono:</p>
        <p>Email:</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button  color="primary">Otra persona?</button>
      </mat-card-actions>
    </mat-card>
  </div>