<app-navbar></app-navbar>
<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-0">

        <app-sidebar></app-sidebar>

      </div>
      <div class="col-md-10">

        <!--Agregar aquí el contenido-->
        <!--<br>
        <p>My inspiration</p>
        <div class="row">
          <div class="col">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>I'm here!</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <img src="../assets/compu.jpeg" width="200" height="100">
              </mat-card-content>
            </mat-card>
          </div>


          <div class="col">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>Introduce myself</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <h1>I am Salvador Estrada: Software developer Backend whith bases of frontend</h1>
              </mat-card-content>
            </mat-card>
          </div>  
        </div> -->

        

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>








