
<h2>Relational database model</h2>
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <mat-divider></mat-divider>
            <mat-card>
                <div class="row">
                    <div class="col-md-7">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Data model exams</mat-card-title>
                            </mat-card-header>
                            <mat-divider></mat-divider>
                            <mat-card-content>
                                <img src="./assets/admin/model.png" width="660" height="350">
                            </mat-card-content>

                            <mat-card-actions>    
                               <mat-divider></mat-divider>
                               <h3>This is the database relationship model from which the project was carried out. This model involves three tables, Category, Exam, and Questions.
                                So there are One-to-Many relationships between the Category and the Exam table. On the other side is the same concept for the Exam and Question table. This means that one row in the table Categories links to many rows in the table Exam and that is the same relationship between Exam and Question table.
                               </h3>
                                 
                            </mat-card-actions>
                        </mat-card>
                    </div>   

                    <div class="col-md-5"> 
                        <mat-card>
                            
                            <mat-card-header>
                                <mat-card-title>Data model users</mat-card-title>
                            </mat-card-header>
                            <mat-divider></mat-divider>
                            <mat-card-content>
                                <img src="./assets/admin/user.png" width="465" height="350">
                            </mat-card-content>

                            <mat-card-actions>    
                               <mat-divider></mat-divider>
                                <h3>This is the database relationship model regarding users which means that multiple records in the User table
                                    are associated with multiple records in the Role table.<br>
                                    On the other side user-rol table is an intermediate table that allows two tables to act as though a relationship were one-to-many for both
                                </h3>
                                
                            </mat-card-actions>
                        </mat-card>
                    </div>  

                </div> <br>
                 
                &nbsp;<a mat-flat-button routerLink="/whatido">Go back</a>
            </mat-card>
        </div>
    </div>
</div>

