
<h2>Relational database model</h2>
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <mat-divider></mat-divider>
            <mat-card>
                <div class="row">
                    <div class="col-md-7">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Data model</mat-card-title>
                            </mat-card-header>
                            <mat-divider></mat-divider>
                            <mat-card-content>
                                <img src="../assets/../../assets/admin/model.png" width="660" height="350">
                            </mat-card-content>

                            <mat-card-actions>    
                               <mat-divider></mat-divider>
                               <h3>This is the database relationship model from which the project was carry out. This model involve three tables Category, Exam and Questions.<br>
                                So there are One-to-Many relationship between Category and Exam table. On the other side is the same concept for Exam and Question table. 
                                Which means that one row in table Categories links to many rows in table Exam and that is the same realtionship between Exam and Question table.</h3>
                                 
                            </mat-card-actions>
                        </mat-card>
                    </div>   

                    <div class="col-md-5"> 
                        <mat-card>
                            <br>
                            <mat-card-header>
                                <mat-card-title></mat-card-title>
                            </mat-card-header>
                            <mat-divider></mat-divider>
                            <mat-card-content>
                                <img src="../assets/../../assets/admin/user.png" width="465" height="350">
                            </mat-card-content>

                            <mat-card-actions>    
                               <mat-divider></mat-divider>
                                <h3>This is the database relationship model regarding users in which means that multiple records in User table
                                    are asocited with multiple records in Role table.<br>
                                    On the other side user-rol table is a itermediate table that allows two tables act as though a relationship were one-to-many for both
                                </h3>
                                
                            </mat-card-actions>
                        </mat-card>
                    </div>  

                </div> <br>
                 
                &nbsp;<a mat-flat-button routerLink="/whatido">Go back</a>
            </mat-card>
        </div>
    </div>
</div>

