
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <mat-divider></mat-divider>
            <mat-card>
                <div class="row">
                    <div class="col-md-6">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title></mat-card-title>
                            </mat-card-header>
                            <mat-divider></mat-divider>
                            <mat-card-content>
                                <img src="./assets/admin/tech1.jpeg" width="550" height="250">
                            </mat-card-content>

                            <mat-card-actions>    
                                <mat-divider></mat-divider>
                            </mat-card-actions>

                        </mat-card>
                    </div> 

                    <div class="col-md-6">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title></mat-card-title>
                            </mat-card-header>

                            <mat-divider></mat-divider>
                            <mat-card-content> <br> <br> <br> <br>
                                <img src="./assets/tech/boot.png" width="80" height="50"> 
                                &nbsp; &nbsp; &nbsp;
                                <img src="./assets/tech/java.png" width="80" height="50">
                                &nbsp; &nbsp; &nbsp;
                                <img src="./assets/tech/angular.png" width="80" height="50">
                                &nbsp; &nbsp; &nbsp;
                                <img src="./assets/tech/script.png" width="80" height="50">
                                &nbsp; &nbsp; &nbsp;
                                <img src="./assets/tech/mysql2.png" width="80" height="50">
                                &nbsp; &nbsp; &nbsp;
                                <img src="./assets/tech/html.png" width="80" height="50"> 
                                &nbsp; &nbsp; &nbsp;
                                <img src="./assets/tech/sql.png" width="80" height="50"> 
                                &nbsp; &nbsp; &nbsp;
                                <img src="./assets/tech/javascript.png" width="80" height="50">
                            </mat-card-content>

                            <mat-card-actions>
                                <mat-divider></mat-divider> 
                                <h3>Technologies</h3>
                            </mat-card-actions>
                        </mat-card>
                    </div> 

                </div> 
                <mat-card-actions>
                     
                    <h3>Technologies used in the project</h3>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
