

<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <mat-divider></mat-divider>
            <mat-card>
                <div class="row">
                    <div class="col-md-4">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Contact</mat-card-title>
                            </mat-card-header> 
                            <mat-divider></mat-divider>
                            <mat-card-content> 
                                
                               <div class="">
                                  <img src="./assets/tech/call.png" style="width: 100px; height: 80px; float: left; padding: 10px;">
                                  <br> <h3>(+52) 55 73 84 98 36<br></h3> 
                              </div>
                                <br> 
                                
                                <mat-divider></mat-divider>
                                <div>
                                     <img src="./assets/tech/gmail.png" style="width: 100px; height: 80px; float: left; padding: 10px;">
                                </div>
                                <br> <h3>salvador.estrada08@gmail.com</h3>
                                <br>
                                <h3>   
                                    <mat-divider></mat-divider> 
                                    <h2>Technical Skill</h2> 
                                    <div>
                                        <mat-divider></mat-divider>
                                        <ul>
                                            <li>Java</li>
                                            <li>Spring boot</li> 
                                            <li>Spring </li> 
                                            <ul>
                                                <li>Data JPA</li>
                                                <li>Security</li>
                                            </ul>
                                            <li>SQL</li> 
                                            <li>TypeScript</li>
                                            <li>JavaScript</li>
                                            <li>Mysql, Posgresql</li>
                                        </ul>
                                    </div>
                                    <mat-divider></mat-divider> 
                                     <h2> Dvelopment tools</h2>
                                    <mat-divider></mat-divider>   
                                    <div>
                                        <ul>
                                            <li>Intellij, STS, Eclipse</li>
                                            <li>Git, Github</li> 
                                            <li>Postman, Suagger</li> 
                                        </ul>
                                   </div> 

                                   <mat-divider></mat-divider> 
                                   <h2> Courses</h2>
                                    <mat-divider></mat-divider>   
                                    <div>
                                        <ul>
                                            <li>Secure development</li>
                                            <li>PL/sql</li> 
                                            <li>Angular</li> 
                                            <li>Scrum fundamentals</li> 
                                            <li>AWS Cloud practiotioner</li>
                                        </ul>
                                   </div> 

                                   <mat-divider></mat-divider> 
                                   <h2>Languages</h2>
                                   <mat-divider></mat-divider>   
                                   <div>
                                       <ul>
                                           <li>Native Spanish</li> 
                                           <li>English, basic conversations</li> 
                                        
                                       </ul>
                                  </div>
                                     
                                </h3>
                            </mat-card-content>
                        
                        </mat-card>
                    </div> 

                    <div class="col-md-8">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Salvador Estrada</mat-card-title>
                                
                                <mat-card-title>Java developer</mat-card-title>
                            </mat-card-header>

                            <mat-divider></mat-divider><br>
                            <mat-card-content> 
                                <h2> Professional Profile.</h2> 
                                 <h3> 
                                      <mat-divider></mat-divider>
                                    I am  Software developer with almost two years of experience in Java and Spring Boot with some bases of angular framework.  
                                    I have worked on projects and i passionate about identifying opportunities to improve the user experience.
                                       <mat-divider></mat-divider><br><br>
                                    <h2>Develop, May, 2020- Dec, 2020 </h2> 
                                       <mat-divider></mat-divider>
                                    Analyzing client-generated requirements and codifying them to develop functional solutions. Developing business logic to ensure the solutions meet client needs. 
                                    Managing production, development, and certification databases environments.
                                       <mat-divider></mat-divider><br><br>
                                      <h2> Develop, May, 2020- Dec, 2020 </h2>  
                                       <mat-divider></mat-divider>
                                       Develop REST services . Implementing CRUD operations, pagination and data sorting, 
                                       utilizing ModelMaper libraries and DTO's to implements good practices of development, Spring Data JPA  to achieve  Database persistence.   
                                    
                                       <mat-divider></mat-divider><br><br> 
                                       <h2>Working on personal project  2019 -2020 </h2> 
                                       <mat-divider></mat-divider>
                                       Developin a Rest Api, using Spring booot Framework , getting the  best  develop  practices, such as  dependency injection,  DTO's, Projections, ModelMapper Library. Applying security utilizing JWT. 
                                       Developing angular frontend  application to communicate with backend services. 

                                       <mat-divider></mat-divider><br> <br>
                                       <h2>Scotiabank, Jan-March 2018 </h2>
                                       <mat-divider></mat-divider>
                                       Codifying SQL queries and Pl/SQL code functionalities, support of the achievement of business requirements and analyzing  
                                       software programs and Applications to verify the expecting results.
                                </h3>
                            
                            </mat-card-content>

                            <mat-card-actions>
                                <mat-divider></mat-divider> 
                                
                            </mat-card-actions>
                        </mat-card>
                    </div>  

                </div>
            </mat-card>
        </div>
    </div>
</div>
