<h2>Overview about the project Exam test</h2>
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <mat-divider></mat-divider>
            <mat-card>
                <div class="row">
                    <div class="col-md-6">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Backend project structure</mat-card-title>
                            </mat-card-header>
                            <mat-divider></mat-divider>
                            <mat-card-content>
                                <h3> This application was developed with the porpuse of evaluate the knowledge of a user in different areas of technology, could be Languages Programming, Data Bases or any other area of knowledge.<br>
                                       a) The managed of application corresponds to an administrator user. This user can do changes regarding the information content in the application. <br> b) A normal user must be registered, once the user is registered
                                         will be abled to recieve a token to get the corresponding resources inside the application. <br>
                                         c) There are diferent Categories in which the user coul be test your knowledge evey question has a limit of time.  
                                </h3>
                            </mat-card-content>

                            <mat-card-actions>    
                                <mat-divider></mat-divider>
                                <br>
                                <img src="./assets/spring.png" width="150" height="50">
                            </mat-card-actions>

                        </mat-card>
                    </div> 

                    <div class="col-md-6">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Frontend project structure</mat-card-title>
                            </mat-card-header>

                            <mat-divider></mat-divider>
                            <mat-card-content> 
                                <h3> This angular client was developed with the porpuse of consume the services from backend. <br> 
                                    b) The application  contains a view with panel for administrator user. 
                                    In this view administrator user will able to manage the application information such as create Categories, Exam test, Cuestions,
                                      will be abled to enabled and disabled this information.<br>
                                      c) Panel for standar user, in this view user must be registered to get the application access, once the user get login success can 
                                      make knowledge challenges acording enabled categories by administrator.
                                </h3>
                            
                            </mat-card-content>

                            <mat-card-actions>
                                <mat-divider></mat-divider>
                                <br> 
                                <img src="./assets/angular.png" width="200" height="50">
                            </mat-card-actions>
                        </mat-card>
                    </div> 

                </div>
            </mat-card>
        </div>
    </div>
</div>