            
<h2></h2>

<div class="bootstrap-wrapper">
  <div class="row">
      <div class="col-md-12">
          <mat-divider></mat-divider>
          <mat-card>
              <div class="row">
                  <div class="col-md-3">
                      <mat-card class="example-card">
                          <mat-card-header>
                            <h2>¡Welcome!</h2>
                          </mat-card-header>
                          
                          <mat-card-content>
                            <img mat-card-image src="./assets/compu.jpeg" width="250" height="150" >
                          </mat-card-content>
                      </mat-card>
                  </div> 

                  <div class="col-md-9">
                      <mat-card class="example-card">
                          <mat-card-content>
                              <div class="card-body">
                                  <h1 class="card-title"></h1>
                                  <h3>
                                       Welcome to my portfolio, is a pleasure for me that you being here, you will find information a bout myself. For example my professional carrier , experience, technical skill,
                                       and so on. So i invite tou to take a look to this relevant information, i really aprecite your time, thank you.
                                  </h3>
                                  
                              </div>
                          </mat-card-content>
                      </mat-card>
                  </div> 

              </div>
          </mat-card>
      </div>
  </div>
</div>

