


<br>
<div class="bootstrap-wrapper"> 
    <div class="row ">
        <div class="col-md-12">
            
            <mat-card  class="mt20">  
                  <mat-divider></mat-divider> 
                <mat-card-content>
                    <p>
                        <span class="ml20"></span>
                    </p> 
                    
                    <div class="container-fluid">
                        <div class="row">  
                            
                                <div class="col-md-3">
                                  <mat-card class="example-card">
                                    <mat-card-header>
                                      <mat-card-title>Hi everybody!</mat-card-title>
                                    </mat-card-header> 
                                    <mat-divider></mat-divider>
                                     <br>
                                    <mat-card-content>
                                       <img mat-card-image src="./assets/compu.jpeg" width="250" height="150" >
                                    </mat-card-content>
                                  </mat-card>
                                
                            </div>  
                            
                            <div class="col-md-9"> 
                                <mat-card class="example-card">
                                <mat-card-header>
                                  <mat-card-title> Backend developer with Angular bases </mat-card-title>
                                </mat-card-header>
                                <mat-divider></mat-divider> 
                                <mat-card-content><br>
                                    <h3>
                                      Welcome to my portfolio, is a pleasure for me that you are here, you will find information about myself. For example my professional carrier, experience, technical skill, and so on. So I invite you to take a look at this relevant information. 
                                      I appreciate your time, thank you.
                                   </h3>
                                </mat-card-content>
                              </mat-card>  
                            </div>  
                      
                        </div>          
                      
                    </div>
                </mat-card-content>  
                <mat-divider></mat-divider> 
                <mat-card-actions>
                    
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div> 


