<br>
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            
            <mat-card>
                <div class="row">
                    <div class="col-md-4">
                        
                            <mat-card-header>
                                <mat-card-title>User registration</mat-card-title>
                            </mat-card-header>
                            
                            <mat-card-content>
                                <img src="./assets/admin/reg.png" width="400" height="300">
                            </mat-card-content>

                            <mat-card-actions> 
                                
                                <h3>This is the view in which the user must be registered with a username and password.</h3>
                              
                            </mat-card-actions>
                            <mat-divider></mat-divider> 
                            
                    </div>  
                    
                    <div class="col-md-5">
                        
                        <mat-card-header>
                            <mat-card-title>User login</mat-card-title>
                        </mat-card-header>
                        
                        <mat-card-content>
                            <img src="./assets/admin/Login.png" width="500" height="300">
                        </mat-card-content>

                        <mat-card-actions> 
                            
                            <h3>Once the user has registered could be login by using his user name and passwrod .</h3>
                          
                        </mat-card-actions>
                        <mat-divider></mat-divider> 
                        
                    </div>  

                    <div class="col-md-2">
                        
                        <mat-card-header>
                            <mat-card-title>Adminstrator</mat-card-title>
                        </mat-card-header>
                        
                        <mat-card-content>
                            <img src="./assets/admin/inicio.png" width="200" height="300">
                        </mat-card-content>

                        <mat-card-actions> 
                            
                            <h3>This is the administrator panel </h3>
                          
                        </mat-card-actions>
                        <mat-divider></mat-divider> 
                        
                    </div> 
                    
                    <div class="col-md-6"> 
                        <br> 
                        <mat-card>
                            <mat-card-header> 
                                
                                <mat-card-title>Add category</mat-card-title>
                            </mat-card-header>
                           
                            <mat-card-content>
                                <img src="./assets/admin/add-cat.png" width="500" height="200">
                            </mat-card-content>

                            <mat-card-actions> 
                                   
                                <h3>In this view you can add categories, that will be available in order to create an exams.</h3>
                              
                            </mat-card-actions>

                        </mat-card>    
                    </div>   

                    <div class="col-md-6">
                        <br>
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Available categories</mat-card-title>
                            </mat-card-header>
                            
                            <mat-card-content>
                                <img src="./assets/admin/show-cat.png" width="550" height="250">
                            </mat-card-content>
                            
                            <mat-card-actions> 
                                  
                                <h3>This view can display all the existents categories </h3>                  
                            </mat-card-actions>

                        </mat-card>    
                    </div>  
                    
                      
                   
                </div>  
                <mat-card-actions> 
                    <a mat-flat-button routerLink="/manage-exam">Go to manage exam </a>     
                    &nbsp; <a mat-flat-button routerLink="/whatido">Go backend explanation </a> 
                </mat-card-actions>
                
            </mat-card>
            
        </div>
    </div>
</div> 



