<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <mat-divider></mat-divider>
            <mat-card>
                <div class="row">
                    <div class="col-md-12">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Panel standar user</mat-card-title>
                            </mat-card-header>
                            <mat-divider></mat-divider>
                            <mat-card-content>
                                <img src="../assets/../../assets/optimized-user/panel.png" width="1350" height="300">
                            </mat-card-content>

                            <mat-card-actions> 
                                <mat-divider></mat-divider>   
                                <h3>This panel provides a set of views that user should execute to test his knowledge. By choosing a specific Category user will be able to see all the exams for a particualr Category. User will recieve a message in case there is not available exams for that Category.</h3>
                              
                            </mat-card-actions>

                        </mat-card>
                    </div> 

                </div> 


                


            </mat-card>
        </div>
    </div>
</div>
